.grid-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

.role {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

.description {
  margin-top: -5px;
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.button {
  background-color: #6a00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #5400cc;
}

.price {
  font-size: 18px;
  color: #35a850;
  font-weight: bold;
  margin-bottom: 10px;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Daire şekli */
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* Online durumu için yeşil */
.online {
  background-color: #4caf50;
}

/* Offline durumu için kırmızı */
.offline {
  background-color: #f44336;
}

/* Toggle butonu */
.status-button {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.status-button:hover {
  background-color: #303f9f;
}

/* H1 Başlık için tasarım */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
}

/* Animasyonlar */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Grid tasarımı */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Kart tasarımı */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.stars {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2.5rem; /* Yıldız boyutunu belirle */
}